nav Li {
	display: inline;
	margin: 0, 25px, 0, 25px;
	text-decoration: none;
	text-transform: uppercase;
}

nav {
	width: 940px;
	top: 5px;
	right: 15px;
	background-color: beige;
}

nav a {
	font-weight: lighter;
	font-size: 35px;
	text-decoration: none;
	color: darkgrey;
}


body {
	background: #FFFAFA;
	margin: 0;
	padding: 0;
}

#calvo {
	width: 100%;
}

h1 {
	text-align: center;
}

.textos {
	background: white;
}

p {
	text-align: left;
	font-size: 24px;
}
